#img404 {
  width: 20em;
}

.site-header .avatar {
  height: 3em !important;
  margin-top: 0 !important;
}

#home-img {
  width: 30em;
  text-align: center;
}

.home-img {
  display: block;
  text-align: center;
}

.home-img > img {
  width: 250px;
  padding: 0 0;
}

.home-img > p {
  padding: 0 50px !important;
}

.comments {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff !important;
}

@media screen and (max-width: 400px) {
  .posts .excerpt {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .meta {
    font-size: 16px;
  }

  .site-header .site-title {
    margin-top: 0 !important;
  }
}
